.content {
    display: flex;
    flex-direction: row;
    gap: 8rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 768px) {
    .content {
        flex-direction: column;
        gap: 4rem;
    }
}

@media only screen and (max-width: 480px) {
    .content {
        gap: 3rem;
    }
}