.footer {
    display: flex;
    flex-direction: row;
    padding: 6rem 12rem;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
}
.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: 500;
    color: #FFFFFF;
}

@media only screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        padding: 3rem 2rem;
        align-items: center;
    }

    .links {
        display: none;
    }
}