.header {
    display: flex;
    flex-direction: row;
    padding: 1rem 12rem;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    backdrop-filter: blur(8px);
}
.links {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    font-weight: 500;
    color: #FFFFFF;
}