.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    align-items: start;
}

@media only screen and (max-width: 768px) {
    .column {
        align-items: center;
    }
}

@media only screen and (max-width: 480px) {
    .column {
        align-items: center;
    }
}