@font-face {
  font-family: "Degular Display";
  src: url("/fonts/DegularDisplay-Semibold.otf") format("opentype");
}

.titleLight {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Degular Display";
  color: #ffffff;
}
.titleDark {
  font-size: 4rem;
  font-weight: 600;
  font-family: "Degular Display";
  color: #141414;
  text-align: left;
}
.subtitleLight {
  font-size: 2rem;
  font-weight: 500;
  color: #ffffff;
}
.subtitleDark {
  font-size: 2rem;
  font-weight: 500;
  color: #141414;
}
.textLight {
  font-size: 1.1rem;
  color: #ffffff;
}
.textDark {
  font-size: 1.1rem;
  color: #141414;
}
.microtextLight {
  font-size: 0.8rem;
  font-weight: 600;
  color: #ffffff;
}
.microtextDark {
  font-size: 0.8rem;
  font-weight: 600;
  color: #141414;
}

@media only screen and (max-width: 768px) {
  .titleLight,
  .titleDark {
    font-size: 2rem;
  }

  .subtitleLight,
  .subtitleDark {
    font-size: 1rem;
  }

  .textLight,
  .textDark {
    font-size: 0.8rem;
  }

  .microtextLight,
  .microtextDark {
    font-size: 0.6rem;
  }
}

@media only screen and (max-width: 480px) {
  .titleLight,
  .titleDark {
    font-size: 2rem;
    font-weight: 400;
  }

  .subtitleLight,
  .subtitleDark {
    font-size: 1.5rem;
    font-weight: 300;
  }

  .textLight,
  .textDark {
    font-size: 1rem;
  }

  .microtextLight,
  .microtextDark {
    font-size: 0.8rem;
  }
}
